#
# Kudu solution
# AppVeyor configuration
#

version: 1.0.{build}

branches:
  except:
    - gh-pages

os: Visual Studio 2015

configuration:
  - Release
  - Debug

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

before_build:
  - cmd: set BUILD_NUMBER=%APPVEYOR_BUILD_NUMBER%

build:
  project: Build\Build.proj
  verbosity: normal

before_package:
  - cmd: 7z a artifacts\KuduWeb.zip %APPVEYOR_BUILD_FOLDER%\artifacts\%CONFIGURATION%\KuduWeb\*.*

artifacts:
  - path: 'artifacts\KuduWeb.zip'

test: off

cache:
  - packages -> **\packages.config
